/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('./assets/homeLayer.svg');
    // background: url('./assets/homeLayer.svg');
    background-repeat: repeat-x;
    background-size: 70%;
    background-position: top right;

}
