<!--The content below is only a placeholder and can be replaced.-->
<div class ='main-nav'>
    <ul>
        <li>
            <a routerLink='/cart' routerLinkActive="active-link">
                Cart
            </a>
        </li>
    </ul>
</div>
<form class="container">

    <input [(ngModel)]="basicSearch" name='basicSearch'placeholder="Input">
   
    <button mat-button (click) = "getItems()" >Click me!</button>
  
  </form>
  
  <div class = 'item-table'> 
    <div *ngFor = 'let item of result'>
      <div class ='item-name'>
        {{ item.name }}
      </div>
      <button mat-button (click) ="addToCart(item.name)">
        Add to Cart
      </button>
    </div>
  </div>
  
  

<router-outlet></router-outlet>




<!-- <app-cart></app-cart> -->