<div style ='background-color: black; height: 35px; width: 100%;'> </div>
<div class ='main-nav m-4'>
    <a href='/' > <img src="../assets/LOGO.png" style = 'width: 100px; height: 100px;'/></a>
    <button class ='search-cart-button'*ngIf = 'cartVisible == false;' style='background-image: url("../assets/cart.png");' mat-button-raised (click) = 'changeStatus()'></button>
    <button class='search-cart-button'*ngIf = 'cartVisible == true;' style='background-image: url("../assets/home.png");' mat-button-raised (click) = 'changeStatus()'> </button>
</div>

<div class ='search-page' *ngIf='searchVisible' >
    <h2> A More Powerful Way To Order</h2>
    <span> Please order 24 hours in advance </span>
    <form class="search-form container">
        <input [(ngModel)]="basicSearch" (keyup) = "getItems()" name='basicSearch'placeholder="Search Item">
    </form>

    <div class='search-item-list' *ngFor = 'let item of pageOfItems'>
        <div name= 'name' class ='item-name' >
            {{ item.name }}
        </div>
        <form (ngSubmit) = 'addToCart($event, item.name)'class = 'item-table'> 
            <input placeholder = '0' name='quantity' type= 'number'>
            <button mat-button type='submit'>
                Add to Cart
            </button>
        </form>
    </div>
   
    <jw-pagination [initialPage] = '1' [pageSize] = '10' [maxPages] = '100' class = 'mt-5 '[items]="result" (changePage)="onChangePage($event)"></jw-pagination>



</div>
  
<div class = 'cart-page' *ngIf = 'cartVisible'>
    <div *ngIf = 'cart.length > 0'class = 'cart-section'>
        <h2 class = 'mb-5'> Your Cart </h2>
        <div class = 'cart-list' *ngFor = 'let item of cartPageOfItems; let i = index'>
            <div class = 'item-name'>
                {{item.name }}
            </div>
            <input disabled name='quantity' type='number' [value] = 'item.quantity'> 
            <button class ='remove-item' (click) = removeItem(i)>
                Remove 
            </button>
        </div>
        <jw-pagination [initialPage] = '1' [pageSize] = '10' [maxPages] = '100' class = 'mt-5 '[items]="cart" (changePage)="onChangePageCart($event)"></jw-pagination>
    </div>
    <div class ='d-flex flex-column align-items-center'>
        <h2 class = 'mb-5' *ngIf = 'cart.length < 1'>  There is nothing in your cart! </h2>
    </div>
    <form *ngIf = 'cart.length > 0'(ngSubmit) = 'checkout($event)'>
        <div class = 'd-flex flex-column align-items-center form-group'>
            <input class = 'row w-50 form-control-sm' placeholder = 'Name' type='text' required />
            <input class=' m-2 row w-50 form-control-sm'placeholder = 'Email' type='text' required />
            <textarea rows = '4' class= 'mb-2 message w-50 form-control-sm' placeholder = 'Type additional details in here.'  type='text'></textarea>
            <button type='submit'>
                Check Out
            </button>
        </div>
    </form>
  

</div>
